@import "variables"
body
	background-color: $main_color

a
	display: block
	margin: 10px auto
	padding: 10px 0
	background-image: radial-gradient(white 10%, gray)
	text-decoration: none
	text-align: center
	font-size: 30px
a:hover 
	transition: 1s all
	background-image: radial-gradient(white 10%, green)
#google
	color: blue
#yandex
	color: red

.filler
	height: 1000px
	width: 100%
	background-color: $second_color